  .right {
    float: right;
    margin-right: 90px;
    font-size: 17px;
  }

  .search-right {
    margin-left: 970px;
    width: 300px;
    position: absolute;
    margin-right: 2px;
  }

  .search-button {
    margin-bottom: 3px;
    float: right;
    position: relative;
    margin-right: 150px;
  }
